@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
nav a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: 0.3ms;
}
nav a:hover , a.active{
 color: red;
}
section{
    min-height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 60px; 
    font-weight: 700;
    border: 2px solid black;
}
section:nth-child(odd){
    background-color: antiquewhite
}